<h1>Listado de Héroes</h1>
<mat-divider></mat-divider>
<br>
<div fxLayout="row wrap" fxLayoutAlign="center" fxLayout.xs="column" fxLayoutGap="20">
    <div fxFlex="20" 
        *ngFor="let heroe of heroes"
        fxFlex.lg="20"
        fxFlex.sm="30">

    <app-heroe-tarjeta [heroe]="heroe"></app-heroe-tarjeta>    
    </div>

</div>