<div fxLayout="column"> 
    <div>
        <h1>Buscador de Héroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div>
        <h3>Buscador</h3>
        <mat-form-field style="width: 100%;">
            <input type="text"
                   placeholder="Héroe"
                   aria-label="Number"
                   matInput
                   [(ngModel)]="termino"
                   [matAutocomplete]="auto"
                   (input)="buscar()">
            <mat-autocomplete autoActiveFirstOption 
                              #auto="matAutocomplete"
                              (optionSelected)="opcionSeleccionada( $event )">
              <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                {{heroe.superhero }}
              </mat-option>
              <mat-option *ngIf="heroes.length == 0 && termino != ''" value="">
                No se encontró a {{ termino }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <p *ngIf="errorBusqueda">No hay coincidencias</p>
    </div>
    <div>
        <pre>{{ heroeSeleccionado | json }}</pre>
    </div>
</div>
